@import "tailwindcss";

@theme {
  --color-primary: #d6006e;
  --color-primary-dark: #a80056;
  --color-background-light: #f9fafb;
  --color-background-dark: #111827;
  --color-surface-light: #ffffff;
  --color-surface-dark: #1f2937;
  --color-text-light: #1f2937;
  --color-text-dark: #f3f4f6;
  --color-accent-blue: #e0f2fe;
  --color-accent-blue-dark: #0c4a6e;

  --font-family-display: "Poppins", sans-serif;
  --font-family-sans: "Inter", sans-serif;

  --radius: 0.5rem;
  --radius-xl: 1rem;
  --radius-2xl: 1.5rem;
}

/* Configuración de dark mode */
@variant dark (&:is(.dark *));



.material-icons-round.hidden {
  display: none;
}

html {
  scroll-behavior: smooth;
}

/* scroll */
.animate-enter {
  opacity: 0;
  filter: blur(2px);
  transform: translateY(100px);
  transition: all 0.75s ease-in-out;
}

.animate-enter.visible {
  opacity: 1;
  filter: blur(0);
  transform: translate(0);
}

@media (prefers-reduced-motion) {
  .animate-enter {
    transition: none;
  }
}
